#team
    .textbox
        h1
            font-size: 50px
            font-weight: 700
        h3
            color: #6e7b89
            font-size: 20px
            padding: 11px 0 58px
        h2
            font-size: 30px
            font-weight: 700
    .imgbox
        margin: 35px 0
        display: flex
        justify-content: center
        img
            width: 221px
            height: 215px
            border-radius: 120px
            border: 7px solid #e9ecef
    ul
        display: flex
        flex-direction: row
        justify-content: center
        li
            margin: -29px 10px 5px
            border-radius: 50%
            background-color: #000000
            padding: 20px
            width: 10px
            height: 10px
            .icon
                margin: -7px
                color: #ffff
    h6
        color: #6e7b89
        font-size: 20px
        margin: 45px 205px
